    <footer>
        <div class="footer-gallery">
            <img src="/src/camera.webp" alt="">
            <img src="/src/girl-baking.webp" alt="">
            <img src="/src/girl-with-a-picture.jpeg" alt="">
            <img src="/src/group-friends.jpeg" alt="">
        </div>
        
        <div class="footer-wrapper">
            <div class="socials">
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Pinterest</p>
                <p>Tiktok</p>
            </div>
            <div class="navbrand">
                <h3>Blog App</h3>
            </div>
        </div>
    </footer>

    <script src="/views/mainjs.js"></script>
</body>
</html>