<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Blog App</title>

    <nav class="navbar">
        <div class="navbrand">
            <p>Blog App</p>
        </div>
        <ul class="navmenu">
            <li class="navitem"><a href="#">Home</a></li>
            <li class="navitem"><a href="#">Blogs</a></li>
            <li>
                <button class="cta" id="mainclass">Create Blog</button>
            </li>
        </ul>
    </nav>
</head>
<body>