<%- include ("partials/header.ejs") %>
    <div class="hero-section">
        <div class="hero-wrapper">
            <p>HOLIDAYS, LIFESTYLE</p>
            <h1 class="hero-title">Merry Christmas</h1>
            <p>By admin / Dec 25 2023</p>
            <button>Read More</button>
        </div>
    </div>
    <!-- <script type="text/javascript" src="/script.js"></script> -->
<%- include ("partials/footer.ejs") %>