<%- include ("partials/header.ejs") %>
    <div class="hero-section">
        <div class="hero-wrapper">
            <p>HOLIDAYS, LIFESTYLE</p>
            <h1 class="hero-title">Merry Christmas</h1>
            <p>By admin / Dec 25 2023</p>
            <button>Read More</button>
        </div>
    </div>

    <div id="blog-section">
        <div class="blog-description">
            <h3><% console.log(posts); %></h3>
            <% for (var i = 0; i < posts.length; i++) {
                console.log(posts[i].title); 
             }; %>
        </div>
    </div>

    <div id="blog-section" class="blog-section">
        <div class="blog-image">
            <img src="../src/girl-smiling.jpeg" alt="">
        </div>
        <div class="blog-description">
            <div class="blog-details">
                <p>category</p>
                <h3>Blog Title</h3>
                <p>admin / date</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                <button  class="btnReadMore" type="button">Read More</button>
            </div>
        </div>
    </div>

    <div class="blog-section">
        <div class="blog-image">
            <img src="../src/red-bag.webp" alt="">
        </div>
        <div class="blog-description">
            <div class="blog-details">
                <p>category</p>
                <h3>Blog Title</h3>
                <p>admin / date</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                <button>Read More</button>
            </div>
        </div>
    </div>

    <div class="blog-section">
        <div class="blog-image">
            <img src="../src/black-img.jpeg" alt="">
        </div>
        <div class="blog-description">
            <div class="blog-details">
                <p>category</p>
                <h3>Blog Title</h3>
                <p>admin / date</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                <button>Read More</button>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="/script.js"></script> -->
<%- include ("partials/footer.ejs") %>